.home {
  margin-top: 2rem;
  h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2rem 0;
  }
  tbody {
    background-color: #8080800d;
  }
  thead {
    background-color: #0000002e;
  }
  th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0b0a0a;
  }
}
